@import url(http://fonts.googleapis.com/css?family=Open+Sans|Oleo+Script+Swash+Caps|Croissant+One);
@font-face {
  font-family: 'socials';
  src: url('../font/socials.eot?26770686');
  src: url('../font/socials.eot?26770686#iefix') format('embedded-opentype'),
       url('../font/socials.woff?26770686') format('woff'),
       url('../font/socials.ttf?26770686') format('truetype'),
       url('../font/socials.svg?26770686#socials') format('svg');
  font-weight: normal;
  font-style: normal;
}

@green: #8cd7d1;
@blue: #1bbbc9;
@yellow: #fffde3;
@orange: #e6753d;
@grey: #fff;

@blue-shadow: #69c4bd;
@orange-shadow: #ca5d28;

.box-shadow(@style) {
  -webkit-box-shadow: @style;
  -moz-box-shadow:    @style;
  box-shadow:         @style;
}

.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing:    @type;
  box-sizing:         @type;
}

.transform(@string){
  -webkit-transform: @string;
  -moz-transform: @string;
  transform: @string;
}

.transition(@string) {
  -webkit-transition: @string;
  -moz-transition: @string;
  -ms-transition: @string;
  transition: @string;
}

.transition-property(@string) {
  -webkit-transition-property: @string;
  -moz-transition-property: @string;
  -ms-transition-property: @string;
  transition-property: @string;
}
.transition-duration(@string) {
  -webkit-transition-duration: @string;
  -moz-transition-duration: @string;
  -ms-transition-duration: @string;
  transition-duration: @string;
}
.transition-timing-function(@string) {
  -webkit-transition-timing-function: @string;
  -moz-transition-timing-function: @string;
  -ms-transition-timing-function: @string;
  transition-timing-function: @string;
}

.perspective(@string){
  -webkit-perspective: @string;
  -moz-perspective: @string;
  -ms-perspective: @string;
  perspective: @string;
}

.perspective-origin(@string){
  -webkit-perspective-origin: @string;
  -moz-perspective-origin: @string;
  -ms-perspective-origin: @string;
  perspective-origin: @string;
}