/*
//  https://kuler.adobe.com/#themeID/2376146
@color-darkest: #347373;
@color-dark: #4EA6A6;
@color-mid: #91D9D9;
@color-lightest: #FFFFFD;
@color-bright: #F2E205;
*/

// vintage beach: https://kuler.adobe.com/#themeID/2374412
@brown: #B89A7B;
@green: #9BBAAC;
@yellow: #F2D649;
@red: #D95D50;
@grey: #F1F1F1;
