section{
  &.network {
    background: @yellow;
    padding: 10% 0;

    > a {
      -webkit-transition: -webkit-transform ease-in-out .15s;
      -moz-transition: -moz-transform ease-in-out .15s;
      -ms-transition: -ms-transform ease-in-out .15s;
      transition: transform ease-in-out .15s;
      display: inline-block;
      height: 120px;
      width: 120px;
      margin: 30px;
      border-radius: 4px;
      padding: 0;

      &:hover {
        .transform(scale(1.1));
      }
    }

    ul.articles {
      background: @orange;
      padding: 10px;
      height: 254px;
      overflow: auto;
      width: 600px;
      margin: 100px auto 0 auto;

      li {
        list-style: none;
        text-align: left;
        width: 100%;
        margin: 0 auto;

        a {
          border-radius: 2px;
          .transition(background .2s ease-out);
          font-family: 'Monaco';
          padding: 10px;
          color: @grey;
          display: block;

          &:hover {
            background: rgba(0,0,0, .2);
            &::after {
              font-weight: bold;
              content: '>';
              float: right;
            }
          }
        }
      }
    }
  }
}