section {
  &.skills {
    padding: 10px;
    background:  @orange;
    position: relative;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;

    h2 {
      color: @yellow;
      width: 200px;
      margin: 5%;
      text-align: left;
    }
  }
}