section {
  &.skills {
    padding: 10px;
    background:  @orange;
    position: relative;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;

    h2 {
      color: @yellow;
      width: 200px;
      margin: 5%;
      text-align: left;
    }

    > div {
      border-radius: 2px;
      font-weight: bold;
      text-align: center;
      position: absolute;
      color: @orange;
    }

    #functionnal {
      font-size: 45px;
      background: @green;
      width: 170px;
      height: 70px;
      line-height:70px;
      bottom: 240px;
    }

    #scala {
      font-size: 140px;
      background: @yellow;
      width: 470px;
      height: 220px;
      line-height: 220px;
      bottom: 10px;
    }

    #git {
      font-size: 50px;
      background: #EEA94D;
      width: 215px;
      height: 105px;
      line-height: 105px;
      bottom: 125px;
      left: 490px;
    }

    #nix {
      font-size: 50px;
      background: #C25217;
      width: 215px;
      height: 105px;
      line-height: 105px;
      bottom: 10px;
      left: 490px;
    }

    #akka {
      font-size: 70px;
      background: @green;
      width: 215px;
      height: 220px;
      line-height: 220px;
      bottom: 10px;
      left: 715px;
    }

    #play {
      font-size: 140px;
      background: @yellow;
      width: 440px;
      height: 220px;
      line-height: 220px;
      bottom: 240px;
      left: 490px;
    }

    #js {
      font-size: 40px;
      background: @yellow;
      width: 215px;
      height: 105px;
      line-height: 105px;
      bottom: 10px;
      left: 940px;
    }

    #haskell {
      font-size: 40px;
      background: #EEA94D;
      width: 215px;
      height: 105px;
      line-height: 105px;
      bottom: 125px;
      left: 940px;
    }

  }
}