@import "_normalize";
@import "_common";

@black: #4a4a4a;

* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  color: #555;
  font-size: 14px;
  .box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  overflow: auto;
}

.nav {
  height: 100%;
  width: 90px;
  position: fixed;
  background: @black;
  overflow: hidden;
  .box-shadow(inset -1px 0px 2px rgba(0,0,0,.8));

  > * {
    line-height: 40px;
    margin: 15px 0;
    text-align: center;
  }

  .me {
    color: @grey;
    font-size: 11px;
    height: auto;
    text-align: center;
    display: block;
    line-height: 18px;
    margin: 20px auto 40px auto;
    width: 50px;
  }

  ul.social {
    list-style: none;
    display: block;
    position: relative;
    padding: 0;
    margin-top: 0;

    li {
      display: block;
      a {
        font-family: 'socials';
        color: @blue;
        font-size: 16px;
        display: block;
        text-align: center;

        display: block;
        font-size: 20px;
        color: @grey;
        vertical-align: baseline;
        text-decoration: none;
      }
    }
  }


  .cloud {
    position: relative;
    width: 56px;
    height: 36px;
    margin: 0 auto;
    z-index: 2;
    display: block;
    .transform(scale(.5));

    > span {
      background: @grey;
      height: 23px;
      width:  23px;
      display: block;
      position: absolute;

      &:nth-of-type(1) {
        bottom: 0;
        left: 0;
        border-radius: 12px;
      }

      &:nth-of-type(2) {
        bottom: 16px;
        left: 10px;
        height: 16px;
        width:  16px;
        border-radius: 8px;
      }

      &:nth-of-type(3) {
        bottom: 8px;
        left: 23px;
        border-radius: 21px;
        height: 28px;
        width:  28px;
      }

      &:nth-of-type(4) {
        bottom: 0;
        right: 0;
        border-radius: 12px;
      }

      &:nth-of-type(5) {
        bottom: 0;
        left: 12px;
        border-radius: 0;
        width: 32px;
      }
    }
  }
}

.content {
  -webkit-overflow-scrolling: touch;
  margin-left: 90px;
  background: @grey;
  padding: 10px 20px;
  min-width: 500px;
  height: 100%;
  overflow: auto;

  a {
    font-weight: bold;
    text-decoration: none;
    color: @blue;
  }

  header {
    padding: 10px;
    border-radius: 2px;
    font-style: italic;
    font-size: 14px;
  }

  .gist *{
    font-size: 14px;
  }

  time {
    display: block;
    font-style: italic;
    font-size: 12px;
    border-bottom: solid 1px @black;
    padding: 0 0 10px 0;
  }

  h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin: 20px 0 15px 0;
    position: relative;

    &:first-child {
      margin-top: 0;
    }
  }

  .twitter-share-button {
    float: right;
    margin-top: 8px;
  }

  h1 { font-size: 25px; color: @orange;}
  h2 { font-size: 20px; }
  h3 { font-size: 17px; }
  h4 { font-size: 15px; }

  blockquote, .note {
    display: block;
    border-left: solid 4px @green;
    padding: 0 15px;
    margin: 15px 0;
    font-size: 14px;

    .from {
      display: block;
      text-align: right;
      margin: 20px 0;
      font-style: italic;
      font-weight: bold;
      color: #BABABA;
    }
  }

  .note {
    border-color: @orange;
  }

  pre {
    margin : 10px;
  }

  p {
    margin: 10px 0;
  }

  img {
    display: block;

    max-width: 500px;
    max-height: 500px;
    margin: 30px auto;
  }

  ul, ol {
    margin: 15px;
    padding: 0 0 0 15px;
  }

  ul {
    list-style: circle;
  }
}

#disqus_thread {
  margin-top: 20px;
  padding: 20px;
  border-top: solid 1px @green;
}

a.next, a.before {
  width: 400px;
  margin: 20px 0 0 0;
  background: @orange;

  font-size: 12px;
  border-radius: 2px;

  .transition(background .2s ease-out);
  font-family: 'Monaco';
  padding: 5px 10px;
  color: @grey;
  display: block;
  font-weight: normal;



  &:hover {
    background: @orange-shadow;
  }
}

a.before::before {
  content: '<';
  margin-right: 10px;
}

a.next {
  margin: 20px 0 0 auto;

  &::after {
    content: '>';
    float: right;
  }
}

/*
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

  .nav {
    height: 80px;
    width: 100%;
    box-shadow: inset 0px -1px 2px rgba(0,0,0,.8);

    > * {
      float: left;
      height: 80px;
      margin: 15px 0;
      text-align: center;
    }

    .me {
      width: 200px;
      line-height: 80px;
      margin: 0 20px 0 5px;
      font-size: 16px;
    }

    .cloud {
      margin-top: 22px;
      -webkit-transform: scale(.8);
      margin-right: 20px;
    }

    .social {
      width: 200px;
      li {
        float: left;
        width: 40px;
        margin: 0;
        line-height: 80px;
        font-size: 70px;
      }
    }
  }

  .content {
    margin: 80px 0 0 0;

    img {
      max-width: 300px;
    }
  }
}
*/