@import "_normalize";
@import "_common";

@import url(http://fonts.googleapis.com/css?family=Racing+Sans+One|Istok+Web);

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Helvetica Neue", Times;
  -webkit-font-smoothing: antialiased;
  color: @red;
}

html, body, .content {
  height: 100%;
  width: 100%;
}


#kulors {
  display: block;
  height: 500px;
  width: 100px;

  position: fixed;
  top: 0;
  right: 0;

  overflow: auto;

  padding: 0;

  > * {
    display: block;
    height: 100px;
    width: 100px;
  }

  .brown { background: @brown; }
  .green { background: @green; }
  .yellow { background: @yellow; }
  .red { background: @red; }
  .grey { background: @grey; }
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 { font-size: 70px; }
h2 { font-size: 60px; }

section {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;

  min-height: 600px;
  min-width: 800px;

  text-align: center;
  padding: 25% 0;

  &.hi {
    position: relative;
    background: @green;

    > * {
      width: 550px;
      margin: auto;
      position: relative;
    }

    em {
      font-style: italic;
      font-size: 80px;
      height: inherit;
      line-height: inherit;
      width: 150px;
      border-radius: 100px 100px 0 100px;

      color: @yellow;
      background: @red;
      float: left;
      text-shadow: none;

      position: relative;
    }

    h1 {
      height: 150px;
      line-height: 150px;
      color: @red;
    }

    h2 {
      font-size: 30px;
      width: 520px;
      margin-top: -40px;
      color: @grey;
      font-family: 'Racing Sans One';
    }
  }

  &.webapps {
    background:  @red;
    padding: 10%;
    font-family: 'Istok Web';

    h2 {
      color: @green;
    }

    ul {
      margin: 0 auto;
      list-style: none;
      padding: 0;
      position: absolute;
      top: 65px;
      height: 115px;
      width: 100%;
      overflow: hidden;

      li {
        color: @red;
        font-weight: bold;
        font-size: 50px;
        display: block;
        height: inherit;
        line-height: 115px;
        margin: 0;
        text-transform: capitalize;
      }
    }

    .cloud {
      position: relative;
      width: 280px;
      height: 180px;
      margin: 10% auto;

      > span {
        display: block;
        height: 115px;
        width:  115px;
        border-radius: 60px;
        background: @yellow;
        position: absolute;
      }

      :nth-child(1) {
        bottom: 0;
        left: 0;
      }

      :nth-child(2) {
        bottom: 80px;
        left: 50px;
        height: 80px;
        width:  80px;
      }

      :nth-child(3) {
        bottom: 38px;
        left: 110px;
        border-radius: 70px;
        height: 140px;
        width:  140px;
      }

      :nth-child(4) {
        bottom: 0;
        right: 0;
      }

      :nth-child(5) {
        bottom: 0;
        left: 60px;
        border-radius: 0;
        width: 160px;
      }
    }

  }

  &.skills {
    background:  @grey;
    h2 { color: @red; }
  }

  &.contact {
    background: @yellow;

    img {
      display: inline-block;
      height: 150px;
    }
  }
}

// Startup Animations
body {
  section.hi h1 em {
    -webkit-transition-property: opacity, -webkit-transform;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transform: scale(.1);
    opacity: 0;
  }
}


body.ready {
  section.hi h1 em {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}