<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Julien Tournay">
    <meta name="keywords" content="{{page.tags}}">

    <link rel="shortcut icon" href="/media/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/blog.css" type="text/css" media="screen" title="no title" charset="utf-8">

    <title>Julien Tournay</title>
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <a class="cloud" href="/">
          <span></span><span></span><span></span><span></span><span></span>
        </a>
        <span class="me">Julien Tournay</span>

        <ul class="social">
          <li><a href="https://twitter.com/skaalf">&#xf099;</a></li>
          <li><a href="https://github.com/jto">&#xf09b;</a></li>
          <li><a href="http://www.linkedin.com/in/julientournay">&#xf0e1;</a></li>
        </ul>
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
