<!doctype html>

<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Julien Tournay">
    <meta name="keywords" content="{{page.tags}}">

    <link rel="shortcut icon" href="/media/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/blog.css" type="text/css" media="screen" title="no title" charset="utf-8">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@skaalf">
    <meta property="og:title" content="{{page.title | escape}}">
    <meta property="og:description" content="{{page.summary | escape}}">
    <meta property="og:image" content="{{page.image}}">

    <title>Julien Tournay</title>
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <span class="me">Julien <br> Tournay</span>
        <a class="cloud" href="/">
          <span></span><span></span><span></span><span></span><span></span>
        </a>
        <ul class="social">
          <li><a href="https://twitter.com/skaalf">&#xf099;</a></li>
          <li><a href="https://github.com/jto">&#xf09b;</a></li>
          <li><a href="http://www.linkedin.com/in/julientournay">&#xf0e1;</a></li>
        </ul>
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41216875-1', 'jto.github.io');
      ga('send', 'pageview');
    </script>
  </body>
</html>
